{% load static %}
<!DOCTYPE HTML>
<html>
	<head>
		<title>Ankit Coaching Institute</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'css/main.css' %}" />
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href=home class="logo">Ankit Coaching Institue</a>
					<nav id="nav">
						<a href=home>Home</a>
						<a href=courses>Available  Courses</a>
						<a href=form>Fill Addmission Form</a>
					</nav>
				</div>
			</header>
			<a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>

		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<h1>Hello, <span>Welcome</span></h1>
					<ul class="actions">
						<li><a href="#one" class="button alt">Know More</a></li>
					</ul>
				</div>
			</section>

		<!-- One -->
			<section id="one">
				<div class="inner">
					<header>
						<h2>About Institute</h2>
					</header>
					<p>Ankit Coaching Institute, Galibpur, Bhiti, Mau, Established in 2002 
						<a href=https://goo.gl/maps/ZJxd4ucj5YhKSWiT6>-->Click here to see on Google Maps</a><br>
					<b>Oldest and Number One</b> Coaching Institute in Mau for Bachelor of Science Degree and other<a href=courses> Courses</a><br>
					<b>99.99% Success Rate!</b><br>
					Supported by <b>Experienced Teachers</b> with the Institute from very starting<br>
					And most Important, Coaching Institute is dedicated to Overall Development of stundents</p>
				</div>
			</section>



		<!-- Footer -->
			<section id="footer">
				<div class="inner">
	
					<div class="copyright">
						Ankit Coaching Institute &copy; All Rights Reserved.
					</div>
				</div>
			</section>
			<!-- Scripts -->
			<script src="{% static 'js/jquery.min.js' %}"></script>
			<script src="{% static 'js/skel.min.js' %}"></script>
			<script src="{% static 'js/util.js' %}"></script>
			<script src="{% static 'js/main.js' %}"></script>

	</body>
</html>